<h1>Chalk or Cheese? Well sign up to know...</h1>

<form action="/signup" method="POST" >
	<input type="text" name="username" placeholder="Username"></input>
	<input type="password" name="password" placeholder="Password"></input>
	<input type="Submit"></input>
</form>