.heart-path {
	stroke-width: 5;
    stroke-dasharray: 270;
    stroke-dashoffset: 270;
    animation: heart 2.5s cubic-bezier(1, 1.18, 0.55,-0.62) forwards;
    animation-iteration-count: 4;
    -webkit-animation: heart 2.5s ease-in-out forwards;
}


 /*========================
 *      KEYFRAMES
 */

 @keyframes heart {
    100%{stroke-dashoffset:0;}
 }

 /* Code for old Chrome, Safari and Opera */
@-webkit-keyframes heart {
  100%{stroke-dashoffset:0;}  
}